/*============================================ *
  Created by ben@wled.co.uk on 10/12/16.
  Styles used by product page calculator script
  SEE js/calc/calc.js */
/*============================================ */

#calc-wrap {
  width:100%;
  height:100%;
  background-color:rgba(0, 0, 0, 0.5);
  position:fixed;
  z-index: 9999;
  display:none;
  overflow-y: auto;

  #calc-main{
    height:80vh;
    min-height:500px;
    margin:10vh auto;
    float:none;background: black;
    border:10px solid white;
    color:white;
    background-image: url("/media/wysiwyg/Surya/housetype/bg2.png");
    background-position: right bottom; /*Positioning*/
    background-repeat: no-repeat;
    background-color: #333333;


    #close-calc{
      cursor:pointer;
      float: right;
      font-size: 25px;
      margin-right: 5px;
      color: white;
    }

    .centered-white{
      text-align: center;
      color:white;
      text-transform: capitalize;
    }

    h3{margin-bottom:20px;}

    .house-active,.house-inactive{
      max-width:80%;
      margin:0 auto;
      float:none;
    }

    .house-active{
      display: none;
    }

    #area-wrap{
      margin-top:10px;
      padding:5px;
    }

    #area-text-wrap{
      display: inline-flex;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      margin-bottom:15px;
    }

    #area-text{
      margin-bottom:0;
      margin-right:5px;
    }

    .no-margin{
      margin:0;
    }

    .selector input{
      max-width:75px;
      width:100%
    }

    #calc-button-wrap{
      margin:0 auto;
      float:none;
      width:150px;
      margin-top:20px;
      button{
        width:100%;
      }
    }

    #output-text .fa, #output-watts .fa{
      font-size:14px;
      transform: translate(0px, -2px)
    }


    #output-text{
      margin-top:5px
    }

    #property-text{
      margin-bottom: 5px;
      font-size:18px;
    }

    #input-units{
      float:left;
    }

    .calc-img-select:hover{
      border:3px solid #F4742D
    }
  }
}

@media screen and (max-width:768px){
  #calc-main{
    width:100%;
    height:100%!important;
    margin:0!important;
    .calc-img-select:hover{
      border:none!important;
    }
    .yourreqs{
      font-size:14px;
      font-weight:bold;
    }
  }
  .wrapper{
    padding:0!important;
  }

  #output-text .fa, #output-watts .fa{
    font-size:12px!important;
  }

  #output-text,#output-watts{
    font-size:12px;
    font-weight:bold;
  }
}