#frontpage-banner-block, #frontpage-banner-row{
  max-width:1260px !important;
  padding-left:0px;
  padding-top:0px;
}

.cms-home{
  .col-main{
    width:100%;
  }
}

.logo{
  max-height:60px;
}

#search{marin-top:-15px !important;}


.frontpage-container,
{
  position: relative;
  margin: 0 auto;
  padding: 15px;
}


.frontpage-container:after,
{
  content: '';
  display: table;
  clear: both;
}


@media only screen and (min-width: 480px) {
  .frontpage-container
  {
    padding: 30px;
  }
}

section#top div.social ul{
  margin-left:10px
}


section#top div.msg{
  margin-right:10px
}



@media screen and (min-width: 800px){
  #comparison-left {
    padding-left: 20em;
  }

  #comparison-right {
    padding-right: 20em;
  }
}

.reasons-why {
  margin: 0px 20em !important;
}

.changing-the-way{
  margin: 0px 20em !important;
}

