/* Sections */

body.cms-home .main-container{
  padding-top:5px !important;
}

html {
  body {
    h1,h2,h3,h4,h5 {
      font-family: 'Open Sans', sans-serif;
    }
    section#top {
      /*  .row {
          margin:0 !important;
        } */
      .header-language-background {
        background: none;
        color: $c-white;
        background: $c-gray;
        i {
          font-size: 1.6em;
          &:hover {
            color: $c-orange;
            transition: all 0.5s ease;
          }
        }
      }
      div.social {
        ul {
          list-style: none;
          padding: 0px;
          li {
            display: inline-block;
            padding-right: 10px;
            &:last-child {
              padding: 0px;
            }
            i {color:white};
            i:hover{color: $c-orange}

          }
        }
      }
      h4.phone {
        color: $c-orange;
        display: inline-block;
        margin: 0px;
        small {
          text-transform: uppercase;
        }
      }
      div.msg{
        font-family: 'Open Sans', sans-serif;
        letter-spacing: 2px;
        font-size: 0.9em;
        position: relative;
        top: 4px;
      }
    }
    section#banner {
      .row {
        margin: 0px;
      }
      .btn-primary {
        background: $c-orange;
        border: none;
      }
    }
    section#cta {
      background: $c-gray;
      padding: 20px 0px;
      h2 {
        text-align: center;
        text-transform: uppercase;
        color: $c-white;
      }
      p {
        color: $c-white;
        text-align: center;
        margin: 0px;
        span {
          color: $c-orange;
        }
      }
    }
    section#why {
      background:url(../images/why_bg.jpg) top center no-repeat;
      background-size: cover;
      background-position: 100% 22%;
      padding: 40px 0px;
      h1 {
        color: white;
        background: $c-orange;
        padding: 5px;
        text-align: center;
        font-size: 1.5em;
        width: 50%;
        margin: 0 auto 25px auto;
      }
      h2 {
        color: white;
        text-align: center;
        span {
          color: $c-orange;
        }
      }
      div.number {
        border: 2px solid white;
        border-radius: 6px;
        font-size: 2.5em;
        color: white;
        text-align: center;
        width: 25%;
        margin: 0 auto 15px auto;
      }
    }
    section#comparison {
      background: #f5f5f5;
      padding: 20px 0px;
      h2 {
        color: $c-orange;
        text-align: center;
      }
      p {
        font-size: 1.3em;
        color: $c-gray;
        font-weight: 300;
        text-align: center;
        span {
          color: $c-orange;
        }
      }
      a.btn {
        border: 2px solid $c-orange;
        border-radius: 6px;
        padding: 5px;
        color: $c-gray;
        text-transform: uppercase;
        margin: 0 auto;
        max-width: 200px;
        display: block;
      }
    }
  }
}